       /** BASE STYLE **/   
    section:hover,:active ,:visited{
        border: 1px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
        font-style: oblique;
    }
    .bg-info, .btn-info {
         background-color: #0475ba!important;
    }
   /** **/
 /** HEADER **/  
 #header {  
     background-image:url("../img/header.jpg");
     background-color: black;
     min-height: 700px;
    
     color: white;
     padding-top: 160px;

 }
 
 #header 
p{ font-style: oblique;
    font-size: 2em;
}
form{
    background: white;
    color: #000;
    padding : 40px 30px;
    border-radius: 10px;
}
button{
    margin-top: 10px;
}
/** sections **/  
#students p
 { 
    color: white;
    margin-inline-start: 100px;
    font-style: oblique;
}
p:first-letter{font-size: 40px;
    font-weight: bold;
    color: #FFF;
    background:#F00 ;
    margin: 0px 10px 0px 0px;
    padding:0px 10px ;
    border-radius: 10px;



}
#students img{
    border-radius: 5px;
   

}
#volunteers
 {
    margin-inline-start: 100px;
    text-align:center;
    text-layout: auto;
    padding: 20px;
    font-style: oblique;
 }


/** team **/
#team-member
{
    text-align:center;
}
.team-member 
img
  {       
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 3px 3px red, -1em 0 .4em rgb(128, 0, 43);
}
h6{
    color: #0475ba;
}
/** PIED DE PAGE **/
footer{
    padding-top: 60px;
    padding-bottom:60px;
}
 ul{
    list-style:none;
    margin: 10px;
}
